<!DOCTYPE html>
<html lang="en">

<head>
	<title>Content</title>
	<style>
		hr {
			color: #9a9a9a;
			height: 1px;
			background: #ccc;
			border: 0;
			width: 80px;
		}
	</style>
</head>

<body style="padding: 15px;">
	<div class="content-wrap" style="padding: 20px; color: #363636; box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.3)">
		<h1 style="text-align:center; margin-top:0px;">{{{title}}}</h1>
		<hr>
		<div>{{{content}}}</div>
		<!-- <div>
			<p>This Privacy Policy reflects that commitment, and by reading this Privacy Policy, you can stay informed
				about the various ways we process and protect your Personal Data. It is important that you read this
				Privacy Policy, so you can make the best decision about sharing your Personal Data with us.</p>
			<p><br></p>
			<p>You can rest assure that we will fairly, accurately and lawfully process your Personal Data only under
				the conditions stated in this Privacy Policy, and only when relevant to provide you with Nook’s current
				and prospective Services while using our Site. This Privacy Policy supplements our Terms and Conditions
				of Use, and you may refer to it for a more thorough explanation of how we provide our Services to you.
			</p>
		</div> -->
	</div>
</body>

</html>