<!doctype html>
<html lang="en">

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		html,
		body {
			height: 100%;
		}

		img {
			display: block;
		}

		span {
			font-weight: 600;
		}

		.logo {
			width: 150px;
		}

		@media screen and (max-width: 500px) {
			.head {
				font-size: 25px !important;
			}

			.subhead {
				padding: 50px 0 0 !important;
				font-size: 16px !important;
			}

			.title {
				font-size: 16px !important;
			}

			.para {
				font-size: 14px !important;
				margin: 20px 0 !important;
			}

			.invbtn {
				font-size: 14px !important;
				padding: 15px 40px !important;
			}

			.logo {
				width: 250px !important;
			}

			.tablecl {
				padding: 30px 15px 30px !important;
			}

			.dwntbl {
				padding: 12px 15px !important;
			}

			.copyrgt {
				font-size: 11px !important
			}
		}
	</style>
</head>

<body style="padding: 0; margin: 0; background-color: #eaeaea; word-break: break-word;">
	<table cellpadding="0" cellspacing="0" border="0"
		style="padding: 70px 50px 30px;margin: 0 auto; min-width:320px; max-width:600px; width:100%; font-family: Arial,sans-serif;background-color:#419ebb;color: #ffffff;">
		<tr>
			<td style="width: 100%">
				<table cellpadding="0" cellspacing="0" border="0" class="tablecl"
					style="border-top-left-radius: 4px;border-top-right-radius: 4px;width:100%;background-color:#fff; margin:0; padding: 50px 70px 30px;">
					<tr>
						<td colspan="2" align="center" style="color: black;"><img src={{logoUrl}} width="200" alt="Logo"
								class="logo"></td>
					</tr>

					<tr>
						<td class="subhead" colspan="2"
							style="text-align:center;padding:30px 0 20px; font-size: 24px; font-weight: 600;color:#444444;">
							Welcome to<br>Women Community</td>
					</tr>
					<tr>
						<td colspan="2" class="subhead"
							style="padding: 50px 0 20px; font-size: 24px; font-weight: 600;color:#444444;">Hello
							{{name}} ,</td>
					</tr>
					<tr>
						<td colspan="2" class="para"
							style="font-size: 19px; font-weight: 500; line-height: 1.9; color: #444444; letter-spacing: 0.4px; padding: 20px 0 30px;">
							<!-- Thanks for creating you account. To continue, please verify your email address by clicking
							the button below -->
							We
							received a request to change your password on Women Community.please tap
							the button below
						</td>
					</tr>
					<tr>
						<td colspan="2" style="padding: 10px 0px;">
							<a class="invbtn" href="{{url}}"
								style="background: #3f9ab6; color: #ffffff; font-size: 20px; padding: 20px 35px; border: none; text-transform: uppercase;
                            letter-spacing: 1px; text-decoration: none; display: inline-block; border-radius: 4px;">Click Here</a>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="para"
							style="font-size: 19px; font-weight: 500; line-height: 1.9; color: #444444; letter-spacing: 0.4px; padding: 20px 0 10px;">
							<!-- or click on the link below. -->
						</td>
					</tr>
					<tr>
						<!-- <td colspan="2" style="padding: 0px 0px 10px 0px;">
							<a href="{{url}}" style="color: #419ebb; font-size: 18px; border: none;
                            letter-spacing: 1px; text-decoration: none; display: inline-block;">Veryify email</a>
						</td> -->
					</tr>
					<tr>
						<td colspan="2" class="para"
							style="font-size: 18px; font-weight: 500; line-height: 1.9; color: #444444; letter-spacing: 0.4px; padding: 30px 0 20px;">
							If you have any questions, just reply to this email- we’re always happy to help out.
						</td>
					</tr>
					<tr>
						<td colspan="2" class="title"
							style="padding: 20px 0 10px; font-size: 18px; font-weight: 600;color: #444;">Cheers,</td>
					</tr>
					<tr>
						<td colspan="2" class="title"
							style="padding: 0 0 20px; font-size: 18px; font-weight: 600;color: #444;">Women's Community
							Team
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="text-align: center; padding: 15px 0px;">
				<ul class="social-icons"
					style="display: flex; align-items: center; justify-content: center; padding-left: 0px; list-style-type: none; margin: 0px;">
					<li style="padding: 0px 10px;">
						<a href="https://www.facebook.com/goodheartapp/"
							style="background-color: white; border-radius: 50%; height: 40px; width: 40px; display: block; display: flex; align-items: center; justify-content: center; text-decoration: none;">
							<i class="fa fa-facebook" aria-hidden="true" style="color: #3b5998; font-size: 20px;"></i>
						</a>
					</li>
					<li style="padding: 0px 10px;">
						<a href="https://www.instagram.com/goodheartapp/"
							style="background-color: white; border-radius: 50%; height: 40px; width: 40px; display: block; display: flex; align-items: center; justify-content: center; text-decoration: none;">
							<i class="fa fa-instagram" aria-hidden="true" style="color: #ce0064; font-size: 20px;"></i>
						</a>
					</li>
					<li style="padding: 0px 10px;">
						<a href="https://www.linkedin.com/in/kristen-harness/?challengeId=AQE0Z0qQI7uYCAAAAXN1itphCgUl5XXd_ePoReoxQ3tR5Wlhkwo1QUFN5AlLnVj1jbvtYhvjtLnXCW_cypovs8NSDz_SrjEuow&submissionId=938067e6-4d04-2416-5003-c5acaef0f76d"
							style="background-color: white; border-radius: 50%; height: 40px; width: 40px; display: block; display: flex; align-items: center; justify-content: center; text-decoration: none;">
							<i class="fa fa-linkedin" aria-hidden="true" style="color: #0e76a8; font-size: 20px;"></i>
						</a>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td style="text-align: center;">
				Copyright &copy; 2020 Good Heart Collaborative.
			</td>
		</tr>
	</table>
</body>

</html>